<div>
    <br>
    <h4>School Periods</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <input matInput autocomplete="off" placeholder="No" style="text-align: center" [(ngModel)]="element.no">
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Period</th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <input matInput autocomplete="off" placeholder="Period" style="text-align: center" [(ngModel)]="element.name">
            </td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>From </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <input matInput autocomplete="off" placeholder="From" style="text-align: center" [(ngModel)]="element.from">
            </td>
        </ng-container>
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>To </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <input matInput autocomplete="off" placeholder="To" style="text-align: center" [(ngModel)]="element.to">
            </td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Options </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="deleteMember(element)">Delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <p></p>
    <mat-card class="example-button-row">
        <button mat-flat-button color="accent" routerLink="/school-class">Back</button>&nbsp;
        <button (click)="fillDefault()" mat-stroked-button color="primary">Default Data</button> &nbsp;
        <button (click)="add()" mat-stroked-button color="primary">Add New</button> &nbsp;
        <button type="submit" (click)="next()" mat-raised-button color="primary">Next</button> &nbsp;
        <p></p>
        <span *ngIf="error !='' " style="color:red; font-size: 12px">{{error}}</span>
    </mat-card>
    <p></p>
</div>
