.field-full-width {
    width: 100%;
}

.field-half-width {
    width: 50%;
}

.field-3d-width {
    width: 33%;
}

.field-4d-width {
    width: 25%;
}

.card {
    display: block;
    background: #FFFFFF;
    width: 94%;
    height: 80px;
    border-radius: 2px;
    margin: 10px;
    display: inline-block;
    align-self: auto;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    /* border-left: 10px; */
}


/* .card:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
} */

.card1 {
    width: 300px;
}

.card2 {
    width: 625px;
}

.cardtitle {
    width: 94%;
    height: 125px;
    text-align: justify;
    text-shadow: 1px;
    font-size: 12px;
    /* font-weight: bold; */
    color: white;
    position: relative;
    background: slategray;
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
    /* border-right-width: 20px;
border-right-color: white; */
    /* padding-right: 20px; */
}

div.card img {
    width: 100px;
    height: 100%;
    background-attachment: fixed;
}

h4 {
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    /* text-decoration: underline;
text-underline-position: under; */
    /* padding-bottom: 9px; */
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
}

#container {
    width: 100%;
}

#left {
    float: left;
    width: 100%;
}

#right {
    float: right;
    width: 100px;
}

#center {
    margin: 0 auto;
    width: 100px;
}

.center {
    text-align: center;
    /* float: left; */
    background: slateblue;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 2px solid white;
}

.rowdata {
    text-align: left;
    /* float: left; */
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 1px solid white;
}