<br>
<button mat-raised-button (click)="navigateBack()" color="accent">Back</button> &nbsp;
<button mat-raised-button color="primary" (click)="add()">New</button> &nbsp;
<input autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Search"> &nbsp;
<button mat-raised-button color="primary" (click)="showAll()">Show All</button> &nbsp;

<br>
<p style="color: blue;text-decoration: underline;  text-align: center;font-weight: bold; text-shadow:2px 2px #adcf32">{{this.selectedType.name}}</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Description </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; font-size: 10px"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Open Date </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; font-size: 10px"> {{element.start}} </td>
    </ng-container>

    <ng-container matColumnDef="end1">
        <th mat-header-cell *matHeaderCellDef> Close Date </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; font-size: 10px"> {{element.end1}} </td>
    </ng-container>
    <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>Options </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon svgIcon="more_vert"></mat-icon>
              </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit($event, element)">
                    <mat-icon svgIcon="edit"></mat-icon>
                    <span>Edit</span>
                  </button>
                <button mat-menu-item (click)="status($event, element)">
                    <mat-icon svgIcon="student"></mat-icon>
                    <span>Status</span>
                  </button>
                <button mat-menu-item (click)="closeTask($event, element)">
                    <mat-icon *ngIf="!element.closed" svgIcon="close"></mat-icon>
                    <mat-icon *ngIf="element.closed" svgIcon="restore"></mat-icon>
                    <span *ngIf="element.closed"> Reopen   </span>
                    <span *ngIf="!element.closed"> Close   </span>
                  </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
<p></p>