<br>
<div>
    <input autocomplete="off" (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchString" placeholder="Search"> &nbsp;
    <button *ngIf="!selAll" mat-stroked-button color="primary" (click)="selectAll(true)">Select All</button>
    <button *ngIf="selAll" mat-stroked-button color="primary" (click)="selectAll(false)">De-Select All</button> &nbsp;
</div>
<p></p>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="classNo">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.classNo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef> Class </th>
            <td mat-cell *matCellDef="let element"> {{element.className}} </td>
        </ng-container>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="assigned">
            <th mat-header-cell *matHeaderCellDef>Assigned
                <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox> -->
            </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="onChangeCheckBox($event, i, element)" [checked]="element.assigned">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <br>
</div>
<div>
    <button *ngIf="!saved" mat-raised-button color="accent" (click)="navigateBack()">Back</button>
    <button *ngIf="saved" mat-raised-button color="accent" routerLink="/tasks/{{type}}">Back</button>&nbsp;
    <button (click)="update()" mat-raised-button color="primary">Save</button>
</div>
<br>
