mat-grid-tile {
    background: lightblue;
}

.example-card {
    width: 20%;
    height: auto;
}

body {
    background: #D1D1D1;
    text-align: center;
}

.card {
    /* display: block; */
    background: #FFFFFF;
    width: 300px;
    height: 30px;
    /* border-radius: 2px; */
    margin: 5px;
    display: inline-block;
    align-self: auto;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    /* border-left: 10px; */
}

.card:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card1 {
    width: 300px;
}

.card2 {
    width: 625px;
}

.cardtitle {
    position: relative;
    width: 94%;
    height: 60px;
    /* top: 100px; */
    /* text-align: justify; */
    text-shadow: 1px;
    font-weight: bold;
    color: white;
    background: slateblue;
    /* border-right-width: 20px;
border-right-color: white; */
    /* padding-right: 20px; */
}

div.card img {
    width: 100px;
    height: 100%;
    background-attachment: fixed;
}

.mat-icon {
    position: relative;
    /* border-color: beige; */
    top: 10px;
    width: 40px;
    height: 40px;
    color: gold;
    /* margin-top: 5; */
}